NodeRED/flow_Belüftung.json
[{"id":"3d4e3eef.914752","type":"subflow","name":"log payload","info":"Logs time and payload when a msg passes this node in the node status.","category":"","in":[{"x":60,"y":80,"wires":[{"id":"2db71052.56c2e"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"2db71052.56c2e","port":0}]}],"env":[],"color":"#FFCC66","icon":"node-red/parser-csv.svg","status":{"x":240,"y":140,"wires":[{"id":"2db71052.56c2e","port":1}]}},{"id":"2db71052.56c2e","type":"function","z":"3d4e3eef.914752","name":"log payload","func":"let dtOpts = { month: 'short', day: 'numeric', hour12: false, hour: '2-digit', minute: '2-digit', second: '2-digit' };\nlet dt = (new Date()).toLocaleDateString('de-DE', dtOpts);\n\nlet tx = msg.payload + \" at: \" + dt;\n//let tx = dt;\n\nlet statusMsg = { fill:\"green\", shape:\"dot\", text:tx };\n//let statusMsg = { fill:\"red\", shape:\"ring\", text:tx };\n\n//node.status({ text: tx  });\n//node.status({ fill:\"green\", shape:\"dot\", text:tx });\n//node.status({ fill:\"red\", shape:\"ring\", text:tx });\n\nreturn [msg, {payload:statusMsg}];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":210,"y":80,"wires":[[],[]]},{"id":"7c81407d.c5a35","type":"tab","label":"Belüftung","disabled":false,"info":""},{"id":"5cbc1e8f.7e73","type":"comment","z":"7c81407d.c5a35","name":"Belüftungsstufe entsprechend Berechnungen setzen (max. der errechneten Werte)","info":"","x":330,"y":480,"wires":[]},{"id":"a1042d6a.25d3a","type":"api-current-state","z":"7c81407d.c5a35","name":"ventilation_auto == true ?","server":"cb38d2a3.10198","version":1,"outputs":2,"halt_if":"true","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.ventilation_auto","state_type":"habool","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":552,"y":543,"wires":[["af218a9a.2d0928"],[]]},{"id":"2d67c980.852e16","type":"api-call-service","z":"7c81407d.c5a35","name":"ventilation_control_set_ventilation_level","server":"cb38d2a3.10198","version":1,"debugenabled":false,"service_domain":"esphome","service":"ventilation_control_set_ventilation_level","entityId":"","data":"{    \"ventilation_level\": {{payload}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":522,"y":763,"wires":[[]]},{"id":"483e21a4.bf082","type":"inject","z":"7c81407d.c5a35","name":"# = Stop current sequence!","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"#","payloadType":"str","x":230,"y":820,"wires":[["c5d0d2b0.bd999"]]},{"id":"c5d0d2b0.bd999","type":"api-call-service","z":"7c81407d.c5a35","name":"ventilation_control_send_button_sequence","server":"cb38d2a3.10198","version":1,"debugenabled":false,"service_domain":"esphome","service":"ventilation_control_send_button_sequence","entityId":"","data":"{    \"ventilation_level\": {{payload}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":820,"wires":[[]]},{"id":"268032d8.9ae95e","type":"ha-entity","z":"7c81407d.c5a35","name":"ventilation_level_by_co2","server":"cb38d2a3.10198","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"ventilation_level_by_co2"},{"property":"device_class","value":""},{"property":"icon","value":"hass:fan-auto"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"state_class","value":"measurement","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":830,"y":1680,"wires":[[]]},{"id":"6da48216.7cb0fc","type":"server-state-changed","z":"7c81407d.c5a35","name":"sensor.ventilation_level_by_co2","server":"cb38d2a3.10198","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ventilation_level_by_co2","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":192,"y":543,"wires":[["a1042d6a.25d3a"]]},{"id":"e57817a4.ec01f8","type":"api-call-service","z":"7c81407d.c5a35","name":"input_select.ventilation_level","server":"cb38d2a3.10198","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.ventilation_level","data":"{    \"option\": {{payload}}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":562,"y":703,"wires":[[]]},{"id":"52d855e.fd66fac","type":"server-state-changed","z":"7c81407d.c5a35","name":"input_select.ventilation_level","server":"cb38d2a3.10198","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.ventilation_level","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":760,"wires":[["2d67c980.852e16"]]},{"id":"6e5322e0.4cb74c","type":"ha-entity","z":"7c81407d.c5a35","name":"ventilation_level_by_dewpoints","server":"cb38d2a3.10198","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"ventilation_level_by_dewpoints"},{"property":"device_class","value":""},{"property":"icon","value":"hass:fan-auto"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"state_class","value":"measurement","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":850,"y":2520,"wires":[[]]},{"id":"2b8747b1.d5d288","type":"ha-entity","z":"7c81407d.c5a35","name":"ventilation_current_co2_max","server":"cb38d2a3.10198","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"ventilation_current_co2_max"},{"property":"device_class","value":"carbon_dioxide"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"ppm"}],"state":"-payload","stateType":"jsonata","attributes":[{"property":"state_class","value":"measurement","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":840,"y":1260,"wires":[[]]},{"id":"9b626718.311298","type":"ha-entity","z":"7c81407d.c5a35","name":"ventilation_current_dewpoint_max","server":"cb38d2a3.10198","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"ventilation_current_dewpoint_max"},{"property":"device_class","value":"temperature"},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"°C"}],"state":"-payload","stateType":"jsonata","attributes":[{"property":"state_class","value":"measurement","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":860,"y":2080,"wires":[[]]},{"id":"ec7f7962.a6f968","type":"PID","z":"7c81407d.c5a35","name":"PID CO2","setpoint":"-900","pb":"2500","ti":"1800","td":"0","integral_default":"0.35","smooth_factor":"0","max_interval":"130","enable":"1","disabled_op":"0.35","x":560,"y":1320,"wires":[["42c290fb.393b9"]]},{"id":"2b0bb6fb.66602a","type":"inject","z":"7c81407d.c5a35","name":"Alle 1 min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":132,"y":1021,"wires":[["87d0089a.257cf8","6ff9f186.d4396","f4b3c839.3fd688","d9308ac1.38df98"]]},{"id":"87d0089a.257cf8","type":"api-current-state","z":"7c81407d.c5a35","name":"luftqualitat_buro_co2","server":"cb38d2a3.10198","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.luftqualitat_buro_co2","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":342,"y":1021,"wires":[["23394ab9.5f20d6"]]},{"id":"6ff9f186.d4396","type":"api-current-state","z":"7c81407d.c5a35","name":"luftqualitat_eltern_co2","server":"cb38d2a3.10198","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.luftqualitat_eltern_co2","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":342,"y":1081,"wires":[["23394ab9.5f20d6"]]},{"id":"f4b3c839.3fd688","type":"api-current-state","z":"7c81407d.c5a35","name":"luftqualitat_wohnzimmer_co2","server":"cb38d2a3.10198","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.luftqualitat_wohnzimmer_co2","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":362,"y":1141,"wires":[["23394ab9.5f20d6"]]},{"id":"a7ef9879.a3e918","type":"join","z":"7c81407d.c5a35","name":"join Array","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":300,"y":1260,"wires":[["6a68ccdf.6f2744"]]},{"id":"6a68ccdf.6f2744","type":"change","z":"7c81407d.c5a35","name":"-1 * max( payload-Array )","rules":[{"t":"set","p":"payload","pt":"msg","to":"-$max(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":1260,"wires":[["76a300d2.bd614","2b8747b1.d5d288"]]},{"id":"76a300d2.bd614","type":"subflow:3d4e3eef.914752","z":"7c81407d.c5a35","name":"","x":310,"y":1320,"wires":[["ec7f7962.a6f968"]]},{"id":"c6f06188.9b60b","type":"change","z":"7c81407d.c5a35","name":"3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1540,"wires":[["4a64b6e2.d1d4f8"]]},{"id":"161851b5.1138be","type":"change","z":"7c81407d.c5a35","name":"2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1580,"wires":[["4a64b6e2.d1d4f8"]]},{"id":"5226c106.4b0bd","type":"change","z":"7c81407d.c5a35","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1620,"wires":[["4a64b6e2.d1d4f8"]]},{"id":"6d679b0b.20c4f4","type":"change","z":"7c81407d.c5a35","name":"4","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1500,"wires":[["4a64b6e2.d1d4f8"]]},{"id":"4a64b6e2.d1d4f8","type":"subflow:3d4e3eef.914752","z":"7c81407d.c5a35","name":"","x":930,"y":1620,"wires":[["268032d8.9ae95e"]]},{"id":"42c290fb.393b9","type":"subflow:3d4e3eef.914752","z":"7c81407d.c5a35","name":"","x":550,"y":1380,"wires":[["e9cb9751.5d04f8","c3e571ac.86eaf","564fb44c.32b89c"]]},{"id":"e9cb9751.5d04f8","type":"ha-entity","z":"7c81407d.c5a35","name":"ventilation_pid_co2_output","server":"cb38d2a3.10198","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"ventilation_pid_co2_output"},{"property":"device_class","value":""},{"property":"icon","value":"hass:speedometer"},{"property":"unit_of_measurement","value":"%"}],"state":"$round(payload*100, 1)","stateType":"jsonata","attributes":[{"property":"state_class","value":"measurement","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":840,"y":1320,"wires":[[]]},{"id":"cc5037d2.d12d88","type":"inject","z":"7c81407d.c5a35","name":"Alle 1 min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":132,"y":1881,"wires":[["14dee19d.e4ee6e","62343d76.12dab4","dc960f02.7d844","e3f0f0bc.77742"]]},{"id":"14dee19d.e4ee6e","type":"api-current-state","z":"7c81407d.c5a35","name":"feuchtesensor_bad_eltern_taupunkt","server":"cb38d2a3.10198","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.feuchtesensor_bad_eltern_taupunkt","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":392,"y":1881,"wires":[["155a6344.93550d"]]},{"id":"62343d76.12dab4","type":"api-current-state","z":"7c81407d.c5a35","name":"feuchtesensor_bad_kind_taupunkt","server":"cb38d2a3.10198","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.feuchtesensor_bad_kind_taupunkt","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":382,"y":1941,"wires":[["155a6344.93550d"]]},{"id":"876d9dc1.60fa1","type":"join","z":"7c81407d.c5a35","name":"join Array","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":300,"y":2080,"wires":[["c3453282.47581"]]},{"id":"c3453282.47581","type":"change","z":"7c81407d.c5a35","name":"-1 * max( payload-Array )","rules":[{"t":"set","p":"payload","pt":"msg","to":"-$max(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":2080,"wires":[["ac114fd0.c7741","9b626718.311298"]]},{"id":"ac114fd0.c7741","type":"subflow:3d4e3eef.914752","z":"7c81407d.c5a35","name":"","x":310,"y":2140,"wires":[["489aab03.c4c924"]]},{"id":"155a6344.93550d","type":"function","z":"7c81407d.c5a35","name":"!= NaN","func":"return isNaN(msg.payload) ? null : msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":2000,"wires":[["876d9dc1.60fa1"]]},{"id":"23394ab9.5f20d6","type":"function","z":"7c81407d.c5a35","name":"!= NaN","func":"return isNaN(msg.payload) ? null : msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1200,"wires":[["a7ef9879.a3e918"]]},{"id":"489aab03.c4c924","type":"PID","z":"7c81407d.c5a35","name":"PID Taupunkt","setpoint":"-17.0","pb":"12.0","ti":"400","td":"0","integral_default":"0.35","smooth_factor":"0","max_interval":"130","enable":"1","disabled_op":"0.35","x":540,"y":2140,"wires":[["4e6df01d.3c1b6"]]},{"id":"f1aa7056.c9418","type":"change","z":"7c81407d.c5a35","name":"3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":2380,"wires":[["6eface40.6b773"]]},{"id":"3330f0a2.bbb4c","type":"change","z":"7c81407d.c5a35","name":"2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":2420,"wires":[["6eface40.6b773"]]},{"id":"5fc5953b.5f237c","type":"change","z":"7c81407d.c5a35","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":2460,"wires":[["6eface40.6b773"]]},{"id":"2ed25a85.1f4086","type":"change","z":"7c81407d.c5a35","name":"4","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":2340,"wires":[["6eface40.6b773"]]},{"id":"6eface40.6b773","type":"subflow:3d4e3eef.914752","z":"7c81407d.c5a35","name":"","x":930,"y":2460,"wires":[["6e5322e0.4cb74c"]]},{"id":"4e6df01d.3c1b6","type":"subflow:3d4e3eef.914752","z":"7c81407d.c5a35","name":"","x":550,"y":2200,"wires":[["d3adb67c.fed998","2e1d680c.a09cc8","eae64f3f.866ec"]]},{"id":"d3adb67c.fed998","type":"ha-entity","z":"7c81407d.c5a35","name":"ventilation_pid_dewpoint_output","server":"cb38d2a3.10198","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"ventilation_pid_dewpoint_output"},{"property":"device_class","value":""},{"property":"icon","value":"hass:speedometer"},{"property":"unit_of_measurement","value":"%"}],"state":"$round(payload*100, 1)","stateType":"jsonata","attributes":[{"property":"state_class","value":"measurement","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":850,"y":2140,"wires":[[]]},{"id":"c3e571ac.86eaf","type":"ha-entity","z":"7c81407d.c5a35","name":"ventilation_pid_co2_setpoint","server":"cb38d2a3.10198","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"ventilation_pid_co2_setpoint"},{"property":"device_class","value":"carbon_dioxide"},{"property":"icon","value":"hass:car-cruise-control"},{"property":"unit_of_measurement","value":"ppm"}],"state":"-setpoint","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":840,"y":1380,"wires":[[]]},{"id":"2e1d680c.a09cc8","type":"ha-entity","z":"7c81407d.c5a35","name":"ventilation_pid_dewpoint_setpoint","server":"cb38d2a3.10198","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"ventilation_pid_dewpoint_setpoint"},{"property":"device_class","value":"temperature"},{"property":"icon","value":"hass:car-cruise-control"},{"property":"unit_of_measurement","value":"°C"}],"state":"-setpoint","stateType":"jsonata","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":860,"y":2200,"wires":[[]]},{"id":"fb51481e.e00e28","type":"server-state-changed","z":"7c81407d.c5a35","name":"sensor.ventilation_level_by_dewpoints","server":"cb38d2a3.10198","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ventilation_level_by_dewpoints","entityidfiltertype":"exact","outputinitially":true,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":212,"y":603,"wires":[["a1042d6a.25d3a"]]},{"id":"189ea63d.c01f0a","type":"function","z":"7c81407d.c5a35","name":"object –> array of values","func":"// build array from all values in object\nlet varArr = Object.values(msg.payload);\n// remove NaN from array, if present\nvalArr = varArr.filter( value => !Number.isNaN(value) );\nmsg.payload = valArr;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":600,"wires":[["5a5099dc.858c78"]]},{"id":"af218a9a.2d0928","type":"join","z":"7c81407d.c5a35","name":"join Array","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":500,"y":600,"wires":[["189ea63d.c01f0a"]]},{"id":"5a5099dc.858c78","type":"change","z":"7c81407d.c5a35","name":"max( payload )","rules":[{"t":"set","p":"payload","pt":"msg","to":"$max(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":522,"y":643,"wires":[["fbf8e04c.ca516"]]},{"id":"fbf8e04c.ca516","type":"subflow:3d4e3eef.914752","z":"7c81407d.c5a35","name":"","x":712,"y":643,"wires":[["e57817a4.ec01f8"]]},{"id":"dc960f02.7d844","type":"api-current-state","z":"7c81407d.c5a35","name":"msg.temperatur_abluft = kwl_abluft_temperatur","server":"cb38d2a3.10198","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.kwl_abluft_temperatur","state_type":"num","state_location":"temperatur_abluft","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":320,"y":2540,"wires":[["66cbdbf3.f380d4"]]},{"id":"66cbdbf3.f380d4","type":"api-current-state","z":"7c81407d.c5a35","name":"msg.taupunkt_zuluft = kwl_zuluft_taupunkt","server":"cb38d2a3.10198","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.kwl_zuluft_taupunkt","state_type":"num","state_location":"taupunkt_zuluft","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":308,"y":2599,"wires":[["807b31c7.85a93"]]},{"id":"69463fd4.174c4","type":"subflow:3d4e3eef.914752","z":"7c81407d.c5a35","name":"log setpoint","env":[],"x":310,"y":2200,"wires":[["489aab03.c4c924"]]},{"id":"e72fde05.4d347","type":"inject","z":"7c81407d.c5a35","name":"test calc setpoint for PID Taupunkt","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":2500,"wires":[["dc960f02.7d844"]]},{"id":"8477256d.1457f8","type":"comment","z":"7c81407d.c5a35","name":"Belüftungsstufe entsprechend CO2-Level berechnen (Schlaf- und Wohnräume)","info":"","x":320,"y":960,"wires":[]},{"id":"6e91db84.bd9e14","type":"comment","z":"7c81407d.c5a35","name":"Belüftungsstufe entsprechend Luftfeuchte berechnen (Bäder)","info":"","x":260,"y":1820,"wires":[]},{"id":"8412178d.552328","type":"comment","z":"7c81407d.c5a35","name":"Status KWL-Bypass anhand Luftstrom-Temperaturen ermitteln (offen/geschlossen)...","info":"Wenn Bypass geschlossen, fließt Außenluft durch Wärmetauscher ins Haus.\nWenn Bypass offen, fließt Außenluft direkt ins Haus.\n\nAußenluft >---- (Bypass) -----> Zuluft\n             \\             /\n              Wärmetauscher\n             /             \\\nFortluft  <--               --< Abluft\n\n\nBypass ist aktiv (offen), wenn die Temperaturänderung der Luftströme beim Durchlaufen des Wärmtauschers größer ist als der Temperaturunterschied zwischen dem Eingangsweg und dem Ausgangsweg.\nIn beiden Fällen arbeiten wir mit Mittelwerten der jeweils beiden Seiten bzw. Enden des KWL-Aggregats.\n\n","x":330,"y":60,"wires":[]},{"id":"a097082a.9054d8","type":"inject","z":"7c81407d.c5a35","name":"Alle 1 min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":120,"wires":[["58b243f.7652bbc","f376cce6.6df33","d149d4ca.b993d8","69f6940d.31b75c"]]},{"id":"58b243f.7652bbc","type":"api-current-state","z":"7c81407d.c5a35","name":"kwl_zuluft_temperatur","server":"cb38d2a3.10198","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.kwl_zuluft_temperatur","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":180,"wires":[["af1dd08e.8d5ba"]]},{"id":"f376cce6.6df33","type":"api-current-state","z":"7c81407d.c5a35","name":"kwl_aussenluft_temperatur","server":"cb38d2a3.10198","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.kwl_aussenluft_temperatur","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":360,"y":120,"wires":[["af1dd08e.8d5ba"]]},{"id":"d149d4ca.b993d8","type":"api-current-state","z":"7c81407d.c5a35","name":"kwl_abluft_temperatur","server":"cb38d2a3.10198","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.kwl_abluft_temperatur","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":340,"y":240,"wires":[["af1dd08e.8d5ba"]]},{"id":"37197f48.88fa5","type":"join","z":"7c81407d.c5a35","name":"join Object","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":710,"y":200,"wires":[["c80f0319.ad151","39792c17.95bc54"]]},{"id":"c80f0319.ad151","type":"debug","z":"7c81407d.c5a35","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":160,"wires":[]},{"id":"af1dd08e.8d5ba","type":"function","z":"7c81407d.c5a35","name":"!= NaN","func":"return isNaN(msg.payload) ? null : msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":200,"wires":[["37197f48.88fa5"]]},{"id":"39792c17.95bc54","type":"function","z":"7c81407d.c5a35","name":"Calc Bypass open/close (true/false)","func":"let tAussen = msg.payload[\"sensor.kwl_aussenluft_temperatur\"];\nlet tZu = msg.payload[\"sensor.kwl_zuluft_temperatur\"];\nlet tAb = msg.payload[\"sensor.kwl_abluft_temperatur\"];\nlet tFort = msg.payload[\"sensor.kwl_fortluft_temperatur\"];\n\nif(\n    typeof tAussen !== \"number\" ||\n    typeof tZu     !== \"number\" ||\n    typeof tAb     !== \"number\" ||\n    typeof tFort   !== \"number\" \n) {\n    // no output msg\n    return null;\n}\n\nlet dZuAußen = tZu-tAussen; // delta way in\nlet dFortAb = tFort-tAb;    // delta way out\nlet dFortAußen = tFort-tAussen;  // delta outside\nlet dAbZu = tAb-tZu;            // delta inside\nlet dAvgWayInWayOut = Math.abs(dZuAußen - dFortAb)/2;\nlet dAvgOutsideInside = Math.abs(dFortAußen + dAbZu)/2;\n\nlet bByPass =\n    dAvgWayInWayOut<1.5 && dAvgOutsideInside<1.5 ?\n    false :  // wenn Temp-Diffs zu klein ist Bypass immer zu\n    (dAvgWayInWayOut < dAvgOutsideInside);\n\n\n//node.warn(\"dZuAußen: \"+dZuAußen);\n//node.warn(\"dFortAb: \"+dFortAb);\n//node.warn(\"dAvgWayInWayOut: \"+dAvgWayInWayOut);\n//node.warn(\"dFortAußen: \"+dFortAußen);\n//node.warn(\"dAbZu: \"+dAbZu);\n//node.warn(\"dAvgOutsideInside: \"+dAvgOutsideInside);\n//node.warn(\"bByPass: \"+bByPass);\n\n// Bypass ist aktiv (offen), wenn die Temperaturänderung\n// der Luftströme beim Durchlaufen des Wärmtauschers \n// größer ist als der Temperaturunterschied zwischen \n// Eingangsweg und Ausgangsweg.\n// In beiden Fällen arbeiten wir mit Mittelwerten der\n// jeweils beiden Seiten bzw. Enden des KWL-Aggregats.\nmsg.payload = bByPass;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":260,"wires":[["5aa52f78.48d17"]]},{"id":"5aa52f78.48d17","type":"subflow:3d4e3eef.914752","z":"7c81407d.c5a35","name":"","x":610,"y":300,"wires":[["f08ff280.13e92"]]},{"id":"69f6940d.31b75c","type":"api-current-state","z":"7c81407d.c5a35","name":"kwl_fortluft_temperatur","server":"cb38d2a3.10198","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.kwl_fortluft_temperatur","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":350,"y":300,"wires":[["af1dd08e.8d5ba"]]},{"id":"f08ff280.13e92","type":"ha-entity","z":"7c81407d.c5a35","name":"kwl_bypass_active","server":"cb38d2a3.10198","version":1,"debugenabled":false,"outputs":1,"entityType":"binary_sensor","config":[{"property":"name","value":"kwl_bypass_active"},{"property":"device_class","value":""},{"property":"icon","value":"hass:valve"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[{"property":"state_class","value":"measurement","valueType":"str"}],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":630,"y":360,"wires":[[]]},{"id":"53437194.f25b6","type":"comment","z":"7c81407d.c5a35","name":"Zielwert für Taupunkt errechnen...","info":"Zielwert für den Taupunkt soll 6 Grad unter normaler Raumtemperatur liegen.\n\nAllerdings darf der Zielwert nicht unter dem Taupunkt der Frischluft liegen (zzgl. Sicherheitsmarge 0,5 Grad), sonst ist er nicht erreichbar.\n\nDer Zielwert muss außerdem negiert werden, da der PID-Regler steigende Werte erwartet, wenn er den Output erhöht.","x":210,"y":2460,"wires":[]},{"id":"807b31c7.85a93","type":"change","z":"7c81407d.c5a35","name":"max(temperatur_abluft - 5.5, taupunkt_zuluft + 0.5)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$max( [ \t    temperatur_abluft - 5.5,\t    taupunkt_zuluft + 0.5 \t] )","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":328,"y":2659,"wires":[["9ffad7cb.5f6788"]]},{"id":"9855300e.77446","type":"change","z":"7c81407d.c5a35","name":"topic \"setpoint\": -1 * payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"-payload","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"setpoint","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":258,"y":2719,"wires":[["a49f7dd0.23de7"]]},{"id":"9ffad7cb.5f6788","type":"subflow:3d4e3eef.914752","z":"7c81407d.c5a35","name":"","x":628,"y":2659,"wires":[["9855300e.77446"]]},{"id":"a49f7dd0.23de7","type":"subflow:3d4e3eef.914752","z":"7c81407d.c5a35","name":"","x":468,"y":2719,"wires":[["69463fd4.174c4"]]},{"id":"d9308ac1.38df98","type":"api-current-state","z":"7c81407d.c5a35","name":"luftqualitat_kinderzimmer_co2","server":"cb38d2a3.10198","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.luftqualitat_kinderzimmer_co2","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":370,"y":1200,"wires":[["23394ab9.5f20d6"]]},{"id":"e3f0f0bc.77742","type":"api-current-state","z":"7c81407d.c5a35","name":"feuchtesensor_kinderzimmer_taupunkt","server":"cb38d2a3.10198","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.feuchtesensor_kinderzimmer_taupunkt","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":390,"y":2000,"wires":[["155a6344.93550d"]]},{"id":"eae64f3f.866ec","type":"api-current-state","z":"7c81407d.c5a35","name":"msg.current_vent_level = ventilation_level_by_dewpoints","server":"cb38d2a3.10198","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.ventilation_level_by_dewpoints","state_type":"num","state_location":"current_vent_level","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":410,"y":2280,"wires":[["1557d170.7a537f"]]},{"id":"919549eb.9450f8","type":"switch","z":"7c81407d.c5a35","name":">=0.99, >=0.7, >=0.35, sonst – minus Hysterese bei Abnahme","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0.99 - (current_vent_level < 4 ? 0 : 0.01)","vt":"jsonata"},{"t":"gte","v":"0.7 - (current_vent_level < 3 ? 0 : 0.05)","vt":"jsonata"},{"t":"gte","v":"0.35 - (current_vent_level < 2 ? 0 : 0.05)","vt":"jsonata"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":390,"y":1520,"wires":[["6d679b0b.20c4f4"],["c6f06188.9b60b"],["161851b5.1138be"],["5226c106.4b0bd"]]},{"id":"564fb44c.32b89c","type":"api-current-state","z":"7c81407d.c5a35","name":"msg.current_vent_level = ventilation_level_by_co2","server":"cb38d2a3.10198","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.ventilation_level_by_co2","state_type":"num","state_location":"current_vent_level","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":430,"y":1440,"wires":[["919549eb.9450f8"]]},{"id":"1557d170.7a537f","type":"switch","z":"7c81407d.c5a35","name":">=0.99, >=0.7, >=0.35, sonst – minus Hysterese bei Abnahme","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0.99 - (current_vent_level < 4 ? 0 : 0.01)","vt":"jsonata"},{"t":"gte","v":"0.7 - (current_vent_level < 3 ? 0 : 0.05)","vt":"jsonata"},{"t":"gte","v":"0.35 - (current_vent_level < 2 ? 0 : 0.05)","vt":"jsonata"},{"t":"else"}],"checkall":"false","repair":false,"outputs":4,"x":390,"y":2360,"wires":[["2ed25a85.1f4086"],["f1aa7056.c9418"],["3330f0a2.bbb4c"],["5fc5953b.5f237c"]]},{"id":"8072747a1eb187c1","type":"inject","z":"7c81407d.c5a35","name":"Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":570,"y":1580,"wires":[["c6f06188.9b60b"]]},{"id":"cb38d2a3.10198","type":"server","name":"Home Assistant"}]